# ***********************************
# Virtual environment
.venv/

# Flask instance folder
instance/

# Flask cache
*.pyc
*.pyo
*.pyd
__pycache__/

# Flask logs
*.log

# Environment variables
.env

# Pyenv local version
.python-version

# Bytecode
__pycache__/
*.py[cod]

# VS Code settings
.vscode/

# OS files
.DS_Store
Thumbs.db

# misc files and directories
attachments/